* {
    box-sizing: border-box;
}
body {
    background-color: #e6e6e6 !important;
}

/*Logo and Company name section */

.logo {
    width: 105px;
    height: 105px;
}

.codeup-design {
    font-family: 'Abel';
}

/*NavBar Section*/
.navbar-nav {
    font-family: 'Abel';
    font-size: larger;
    font-weight: bold;
}

/*Title*/

.title-text {
    font-family: "Anton"
}


/*Services Section*/

button {
    width: 105px;
    height: 105px;
    border-radius: 100% !important;
    border: 5px solid white !important;
    color: white !important;
    font-family: "anton";
}

.design-button {
    background-color: #e6563b;

}

.develop-button {
    background-color: #eb9d3a;
}

.support-button {
    background-color: #7cb06c;
}

.host-button {
    background-color: #00aba9;
}

/*Start of Pills*/
.work-last {
    font-family: "Abel";
}

.featured-project img{
    border: 5px solid lightgrey;
    border-radius: 3%
}

.badge {
    border-radius: 100%;
    width: 18px;
    height: 18px;
}

span {
    font-family: "Anton" ;
}

.d-pill {
    background-color: #e6563b;
}
.d2-pill {
    background-color: #eb9d3a;
}

.s-pill {
    background-color: #7cb06c;
}

.h-pill {
    background-color: #00aba9;
}

/*The Last section */
.blog-img {
    width: 50%;
}

.last-links {
    font-family: "Anton";
    text-decoration: none;
    color: black;
}