* {
    box-sizing: border-box;
}
body {
    background-color: #e6e6e6 !important;
}

/*Logo and Company name section */

.logo {
    width: 105px;
    height: 105px;
}

.codeup-design {
    font-family: 'Abel';
}

/*NavBar Section*/
.navbar-nav {
    font-family: 'Abel';
    font-size: larger;
    font-weight: bold;
}

/*Services Section*/

button {
    width: 105px;
    height: 105px;
    border-radius: 100% !important;
    border: 5px solid white !important;
}

.design-button {
    background-color: #e6563b;
}

.develop-button {
    background-color: #eb9d3a;
}

.support-button {
    background-color: #7cb06c;
}

.host-button {
    background-color: #00aba9;
}

/*Start of Pills*/

